:root {
  --blue: #2980b9;
  --blue-dark: #0873bb;
  --red: #ee5253;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  color: #242424;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
}

.logo {
  font-size: 32px;
  font-weight: 600;
  color: var(--blue);
}

.main {
  padding: 32px;
  max-width: 800px;
  width: 100%;
  margin: 5% auto;
}

.url-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.url-title {
  font-size: 24px;
  margin-bottom: 32px;
}

.url-input-field {
  display: flex;
  width: 100%;
}

.url-input {
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 6px 0 0 6px;
  outline-color: var(--blue);
  text-indent: 16px;
  flex-grow: 1;
  width: 100%;
}

.url-input.error {
  border-color: var(--red);
}

.url-button {
  height: 44px;
  font-size: 18px;
  padding: 0 16px;
  border: none;
  background-color: var(--blue);
  color: #fff;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  outline-color: var(--blue);
}

.url-button:hover {
  background-color: var(--blue-dark);
}
.url-button:active {
  background-color: var(--blue);
}

.error-message {
  width: 100%;
  margin-top: 8px;
  color: var(--red);
  font-weight: 500;
  visibility: hidden;
}

.error-message.show {
  visibility: visible;
}

.history-container {
}


.history-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.history-list {

}

.history-list-item {
  display: flex;
  flex-direction: column;
  align-items:baseline;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.history-list-item-url-title {
  margin-bottom: 4px;
  font-weight: 500;
}

.history-list-item-url {
  margin-bottom: 8px;
  color: var(--blue);
  word-break: break-all;
}

.history-list-item-arrow {
}

.history-list-item-short-title {
  margin-bottom: 4px;
  font-weight: 500;
}

.history-list-item-short {
  color: var(--blue);
  margin-bottom: 8px;
}


.history-list-item-button {
  width: unset;
  padding: 8px 16px;
  font-weight: 600;
  background-color: var(--blue);
  color: #fff;
  border: none;
  outline-color: var(--blue);
  border-radius: 6px;
  margin-bottom: 8px;
  align-self: flex-end;
  cursor: pointer;
}

.history-list-item-button:hover {
  background-color: var(--blue-dark);
}
.history-list-item-button:active {
  background-color: var(--blue);
}


@media (max-width:767px) {
  .main {
    padding: 16px;
 
  } 
}